.ct-tooltip {
	background-color: black;
	border-radius: 5px;
 	color: white;
  	padding: 5px;
	position: absolute;
	opacity: 0.8;
	z-index: 2;
	cursor: default;
}
.ct-tooltip > .ct-header {
  	font-weight: bold;
}
.ct-tooltip > .ct-series {
	margin-top: 5px;
	line-height: 18px;
}
.ct-tooltip > .ct-series > .ct-label {
	float: left;
	border-radius: 3px;
	margin-right: 3px;
	height: 18px;
	width: 18px;
}
.ct-tooltip > .ct-series-a > .ct-label {
	background-color: green;
}
.ct-tooltip > .ct-series-b > .ct-label {
	background-color: red;
}